body{
    background-image: url("https://th.bing.com/th/id/R6d0bf6516fcdead4254cec2e5b42f947?rik=%2fVhwRQ9%2fiO%2beHg&riu=http%3a%2f%2ftumblrchase.com%2fimg%2fbg%2f103.gif&ehk=dFcoCWM7UVzxbrKj7lI52OvNcrigdEogD61sP%2bDhmAY%3d&risl=&pid=ImgRaw");
    background-repeat: repeat;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
}

.flexbox{
    display: flex;
    justify-content: left;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    
}

header h1{
    margin:20px;
    color:orangered;
}

.lista{
    width:100%;
    padding:20px;
    align-items: left;
}

.lista a{
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 255, 0, 0.50);
}

.texto{
    padding:20px;
    align-items: left;
}

.texto p{
    font-size: 1rem;
    color: rgb(255, 255, 0);
}

.texto table{
    font-size:1rem;
    color:rgb(255, 255, 0);
}

.lista a:hover {
    color:rgb(0, 255, 0);
    font-size:16.5px;
    transition: ease;
}

.Regresar{
    flex-wrap: wrap;
    padding:20px;
}

.Regresar a{
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 255, 0, 0.50);
}

.Regresar a:hover {
    color:rgb(0, 255, 0);
    font-size:16.5px;
    transition: ease;
}

.tabla_s{
    margin:20px;
    color:rgb(255, 0, 140);
    font-size:1rem;
    
}

.texto_tabla{
    text-align:right;
}

.botón{
    text-align: left;
}
