body{
    background-image: url("https://th.bing.com/th/id/Ra177fcde13cd862dfdb9003c4fed4d98?rik=q7w%2fLfiT1KnZLg&riu=http%3a%2f%2fwww.dabaoku.com%2fgif%2fziran%2f017%2f030bd.gif&ehk=oh0oEETpAezgCskimulNozumguF5EkUKYZjIusI0eZU%3d&risl=&pid=ImgRaw");
    background-repeat: repeat;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aldrich', sans-serif;
}

.flexbox{
    display: flex;
    justify-content: left;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    
}

header h1{
    margin:20px;
    color:orangered;
}

.lista{
    width:100%;
    padding:20px;
    align-items: left;
}

.lista a{
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 255, 0, 0.50);
}

.texto{
    padding:20px;
    align-items: left;
}

.texto p{
    font-size: 1rem;
    color: rgb(255, 255, 0);
}

.texto table{
    font-size:1rem;
    color:rgb(255, 255, 0);
}

.lista a:hover {
    color:rgb(0, 255, 0);
    font-size:16.5px;
    transition: ease;
}

.Regresar{
    flex-wrap: wrap;
    padding:20px;
}

.Regresar a{
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 255, 0, 0.50);
}

.Regresar a:hover {
    color:rgb(0, 255, 0);
    font-size:16.5px;
    transition: ease;
}

.tabla_s{
    margin:20px;
    color:rgb(255, 0, 140);
    font-size:1rem;
    
}

.texto_tabla{
    text-align:right;
}

.botón{
    text-align: left;
}
